# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.cs]
dotnet_diagnostic.RCS1118.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.CS0165.severity = none

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false